<h2>Chat</h2>
<div class="app-mensajes" id="app-mensajes">

  <div class="text-right"
       [ngClass]="{'text-right': _chatservice.usuario.uid == chat.uid }"
       *ngFor="let chat of _chatservice.chats">
    <span [ngClass]="{'badge-primary': _chatservice.usuario.uid == chat.uid,
                      'badge-success': _chatservice.usuario.uid != chat.uid}"
          class="badge ">{{ chat.nombre }}</span>
    <p>{{ chat.mensaje }}</p>
  </div>

</div>

<input class="form-control" type="text" name="mensage" 
      [(ngModel)]="mensaje" 
      placeholder="Escribe tu mensaje..." 
      (keyup.enter)="enviarMensaje()" >