<h2>Chat</h2>
<div class="app-mensajes" id="app-mensajes">

  <div class="text-right" *ngFor="let chat of _chatservice.chats">
    <span class="badge badge-primary">Chema{{ chat.nombre }}</span>
    <p>{{ chat.mensaje }}</p>
  </div>

  <!--  <div class="">
    <span class="badge badge-success">Ana</span>
    <p>Hola Chema</p>
  </div>
  -->


</div>

<input class="form-control" type="text" name="mensage" 
      [(ngModel)]="mensaje" 
      placeholder="Escribe tu mensaje..." 
      (keyup.enter)="enviarMensaje()" >